html, body {
  margin: 0;
  padding: 0;
}

.searchbar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-stream {
  margin: 20px 0 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
}

.details {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.items {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
